{% extends "Website/base.html" %}

{% block page %}
<div id="'contact" class="page">
    <h4>O nas:</h4>
    Dr Adam Zadrożny: Narodowe Centrum Badań Jądrowych<br />
    Arkadiusz Ćwiek: Narodowe Centrum Badań Jądrowych, Pi of the Sky<br />
    Paweł Posielężny: Matematyka, Informatyka i Mechanika UW<br />
    Marcin Wojno: Matematyka i Statystyka UW<br />
    Marianna Zadrożna: absolwentka ASP, studentka Inżynierii Obliczeniowej ICM UW.<br />
    Weronika Boruc: doktorantka IFiS PAN<br /><br />

    Napisz do nas:<br />
    <a href="mailto:zakazane.klauzule@gmail.com">zakazane.klauzule@gmail.com</a>
</div>

{% endblock %}