<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klauzury</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <style type="text/css">
         #left {
            float: left;
             margin-left: 2%;
         }
         #middle {
            float: left;
             margin-left: 2%;
         }
         #right {
             float: left;
             margin-left: 2%;
         }
     </style>
</head>
<body>
<h1>Klauzury zakazane</h1>
<form action="/" method="post" enctype="multipart/form-data">
<table><tr><td>
    <div id="left">
         <textarea rows="3" cols="50" placeholder="Paste your agreement here" name="pastedAgreement">{{ agreementText }}</textarea>
    </div>
    <div id="middle">
        or select file to upload:
    </div>
    <div id="right">
        <input type="file" name="fileToUpload" id="fileToUpload" class="btn btn-default btn-lg">
    </div>
</td></tr></table>
    <br/>
<button type="submit" value="Upload" name="submit" class="btn btn-warning">Check</button>
{% csrf_token %}
</form>
{{ agreementContent }}
</body>
</html>