{% extends "Website/base.html" %}

{% block page %}
    <div class="page">
        <form action="/" method="post" enctype="multipart/form-data">
        <table><tr><td>
            <div id="left">
                 <textarea rows="3" cols="40" placeholder="Wklej tekst umowy" name="pastedAgreement">{{ agreementText }}</textarea><br/>
                <button type="submit" id='sprawdz' name="submit" class="btn btn-primary dropdown-toggle">Sprawdź</button>
            </div>
            <div id="middle">
                albo wgraj plik:
            </div>
            <div id="right">
                <input type="file" name="fileToUpload" id="fileToUpload" class="btn btn-default btn-lg">
            </div>
        </td></tr></table>
        <br/>
        {% csrf_token %}
        </form>
    </div>

    {% block results %} {% endblock %}

{% endblock %}