{% extends "Website/base.html" %}

{% block page %}
    <div id="'info" class="page" >
<h2>Co to są klauzule niedozwolone?</h2><br/>
<b>Klauzula niedozwolona</b> (zwana także abuzywną) to zapis umowy zawieranej z konsumentem, który kształtuje „ jego prawa i obowiązki w sposób sprzeczny z dobrymi obyczajami, rażąco naruszając jego interesy”.<br/>
<br>Zgodnie z <b>Artykułem 385 Kodeksu Cywilnego</b>, postanowienie może zostać uznane za klauzulę niedozwoloną, jeśli:
        <ul>
<li> 1) Nie zostało uzgodnione indywidualnie (konsument nie miał rzeczywistego wpływu na kształt postanowienia);</li>
<li> 2) Występuje w umowie, w której jedną stroną jest konsument, a drugą przedsiębiorca;</li>
<li> 3) W sposób sprzeczny z dobrymi obyczajami kształtuje prawa i obowiązki konsumenta (narusza równowagę pomiędzy stronami umowy);</li>
            </ul>
<br>Artykuł 385 w sposób ogólny opisuje 23 najczęstsze kategorie klauzul niedozwolonych, w tym postanowień, które „wyłączają lub ograniczają odpowiedzialność względem konsumenta za szkody na osobie”, „pozbawiają wyłącznie konsumenta uprawnienia do rozwiązania umowy, odstąpienia od niej lub jej wypowiedzenia”,  lub „narzucają rozpoznanie sprawy przez sąd, który wedle ustawy nie jest miejscowo właściwy”.
<br>Z kolei opublikowany przez UOKiK Rejestr Klauzul Niedozwolonych zawiera ponad 6500 szczegółowych klauzul, uznanych za niedozwolone przez konkretne orzeczenia sądowe. Ta baza jest niestety bardzo trudna w nawigacji, co przeważa o jej umiarkowanej przydatności zarówno dla klientów indywidualnych, jak i przedsiębiorców.</br>
<br>W rzeczywistości klauzule niedozwolone można podzielić na cztery grupy:
        <ul>
<li>1) Klauzule, które nie uwzględniają rzeczywistej woli konsumenta (a które znalazły się w zaproponowanym przez kontrahenta gotowym wzorze);</li>
<li>2) Klauzule, które przyznają przedsiębiorcy (i tylko jemu) prawo do zmiany lub wypowiedzenia danej umowy;</li>
<li>3) Klauzule ograniczające odpowiedzialność przedsiębiorcy;</li>
<li>4) Klauzule zwiększające obowiązki konsumenta i ograniczające jego prawa w sposób nieproporcjonalny do zakresu praw lub obowiązków przedsiębiorcy.</li>
            </ul>
<br>Konsumenci dysponują możliwością zakwestionowania klauzuli znajdującej się w umowie. Istnieje możliwość zgłoszenia do UOKiK zawiadomienia o podejrzeniu stosowania we wzorcach umów niedozwolonych postanowień umownych. Konsument może także podnieść stosowny zarzut przed sądem cywilnym, powołując się na niedozwolony charakter postanowienia zawartego w umowie.
<br>Postanowienia uznane za niedozwolone nie wiążą konsumenta względem przedsiębiorcy.
<br/>
<br><b>Więcej informacji:</b><br/>
<a>http://www.kodeks-cywilny.pl/385.html</a><br/>
<a>https://www.uokik.gov.pl/rejestr_klauzul_niedozwolonych2.php</a><br/>
    </div>
{% endblock %}